#==============================================================================#
# File extensions to be ignored anywhere in the tree.
#==============================================================================#

*.so*
*.cflags
*.cxxflags
*.config
*.creator
*.creator*
*.files
*.includes
*.cmake
!/cmake/*.cmake
*.code-workspace
*.orig
*.tmp
*.vscode

**/build*/
.cache
